/*
!.gitignore
!README.md

!omori/
!omori/materials/
!omori/shaders/
!omori/shaders/fxc/

omori/scripts/*
# cleanup
!omori/scripts/atlas_out/
!omori/scripts/mapcore.nut
!omori/scripts/mapprint.nut
!omori/scripts/soundcore.nut
