/*
!.gitignore

!omori/
!omori/materials/
!omori/scripts/
!omori/shaders/
!omori/shaders/fxc

omori/scripts/stages/*
# im a fat slob and leave breadcrumbs all over my desk
omori/scripts/level.nut
# proof of concept old nut file
omori/scripts/screenoverlay_text.nut
